/*général*/
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
    color: #333;
    transition: background-color 0.3s ease-in-out;
  }
  
  header {
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  * {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  /*Main*/
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  /*Carte*/
#map-container {
    width: 50%;
    height: auto;
  }
  
  #map {
    width: 100%;
    height: 100%;
  }
  
  /*Infos balades*/
  #ride-details {
    width: 40%;
  }
  
  /*Filtres*/
  #filters {
    width: 25%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  /*card balades*/
.ride-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .ride-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .ride-card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .ride-card .info-container {
    text-align: left;
  }
  
  .ride-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .ride-card p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .ride-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .ride-card li {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  /*graphique*/
#diagram-container {
    width: 25%;
  }
  
  #myChart {
    width: 100%;
    height: 200px;
  }


  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
  
    #map-container {
      width: 90%;
    }
  
    #ride-details {
      width: 90%;
      grid-template-columns: 1fr;
    }
  
    .ride-card {
      width: 90%;
      margin: 10px 0;
    }
  
    .ride-card img {
      width: fit-content;
    }
  
    #filters {
      display: none;
    }
  
  
    #diagram-container {
      width: 90%;
      margin: 20px 0;
    }
  
  }
  

  .logo {
    flex-grow: 1; /* Allow logo to take up remaining space */
  }
  
  .logo img {
    height: 150px; /* Adjust logo size as needed */
  }